{% extends "question_template/base_template.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/ask_question.css" %}">
{% endblock %}
{% block body %}
<div class="ask_question">
    <h1>What do you want to ask?</h1>
    <form method="post">        
        <table>
        {{form.as_table}}
        {% csrf_token %}            
        </table>
        <br>
        <br>
        <input type="submit" value="Save Question">
    </form>
</div>
{% endblock %}